@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome To Reflection Application</h1>
    <p>Send your feedback</p>
    <img src="~/Images/BG.jpeg" alt="Alternate Text"  width="1000px" height="450px"/> 
</div>



